target
.cache
.cache-*
.classpath
.project
.settings
.tmpBin
*.swp
*.orig
*~
*.iml
.idea
*.log
*.pot
.metadata/
.ensime*
vagrant/.vagrant
snapshots
content-hub-ui/app/js/translations.js

content-hub-ui/build/
content-hub-ui/bin/
content-hub-ui/karma/fixtures/
*/*/bin
*/bin
node_modules/
content-hub-api/src/pack/conf/local/application.conf
/bin/
/project/target
